* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #0e0e0e;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #111;
  border-bottom: 1px solid #222;
}

.sidebar {
  position: fixed;
  left: -230px;
  top: 0;
  width: 220px;
  height: 100%;
  background: #151515;
  padding: 15px;
  transition: 0.3s;
}

.sidebar.open {
  left: 0;
}

#chatList button {
  width: 100%;
  margin-top: 8px;
  background: #222;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

#welcome {
  text-align: center;
  padding: 30px;
  color: #aaa;
}

#chatArea {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.msg {
  max-width: 80%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 14px;
}

.user {
  background: #2a2a2a;
  margin-left: auto;
}

.ai {
  background: #10a37f;
}

.input-bar {
  display: flex;
  padding: 10px;
  gap: 8px;
  border-top: 1px solid #222;
}

.input-bar input {
  flex: 1;
  background: #1e1e1e;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
